@use "./scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: $font-family;
  color: $txt-color;
  background: $body-bg;
}

.page {
  padding-top: 1rem;
  margin-left: $header-width;
}

.loading {
  padding: 1rem;
}