$font-family: "Montserrat", sans-serif;

$main-color: #377DFF;
$txt-color: #4E5D78;
$gray-color: #8A94A6;
$body-bg: #FAFBFC;

$header-width: 230px;

$box-shadow: 1px 15px 15px 1px rgb(0 0 0 / 4%);

$tablet-width: 1024px;
$mobile-width: 600px;
$phone-width: 480px;